body {
  background-color: #2c3e50;
}

#complete-list,
.todo-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#complete-list {
  background-color: #85929e;
  margin: 10% 25%;
}

#todo-items {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f6f6f6;
  padding: 10px 5px;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
}

input[type='text'] {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: none;
}

input[type='text']:focus {
  outline: none;
}

.material-icons {
  padding: 5px;
  color: black;
  font-size: 26px;
}

.items span {
  color: rgb(28, 40, 51 );
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
}
